@model WebBanCaCanh.Models.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-5 text-center text-uppercase">Thêm tin tức</h1>

@using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Title, "Tiêu đề", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, "Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "Content" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>

        <div class="form-group my-2">
            <label for="imageFile">Ảnh sản phẩm</label>
            <input type="file" name="imageFile" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsVisible, "Hiển thị")
            <div>
                @Html.RadioButtonFor(model => model.IsVisible, true, new { id = "isVisibleTrue" })
                <label for="isVisibleTrue">Có</label>
                @Html.RadioButtonFor(model => model.IsVisible, false, new { id = "isVisibleFalse" })
                <label for="isVisibleFalse">Không</label>
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary">Trở về</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('Content');
        });
    </script>
}
